# AutoML Classification experiment using Remote-AML-Compute and AML-Datasets
## Data: IBM Employee Attrition dataset loaded from Azure ML Dataset

##  Get Azure ML Workspace to use

In [1]:
# azureml-core of version 1.0.72 or higher is required
from azureml.core import Workspace, Dataset

# Get Workspace defined in by default config.json file
ws = Workspace.from_config()

## Load data from Azure ML Datasets 
Pandas DataFrame only used to check out the data

In [2]:
# Load Data
aml_dataset = ws.datasets['IBM-Employee-Attrition']

# Use Pandas DataFrame just to sneak peak some data and schema
full_df = aml_dataset.to_pandas_dataframe()
# .to_pandas_dataframe().dropna()
full_df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# Use Pandas DataFrame just to investigate the dataset's schema and info
full_df.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## Split original AML Tabular Dataset in two test/train AML Tabular Datasets (using AML DS function)

In [6]:
# Split using Azure Tabular Datasets (Better for Remote Compute)
# https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.tabulardataset?view=azure-ml-py#random-split-percentage--seed-none-

train_dataset, test_dataset = aml_dataset.random_split(0.9, seed=1)

# Use Pandas DF only to check the data
train_dataset_df = train_dataset.to_pandas_dataframe()
test_dataset_df = test_dataset.to_pandas_dataframe()

print(train_dataset_df.describe())
# print(test_dataset_df.describe())

               Age    Attrition    DailyRate  DistanceFromHome    Education  \
count  1318.000000  1318.000000  1318.000000       1318.000000  1318.000000
mean     36.967375     0.162367   800.254173          9.224583     2.890744
std       9.228459     0.368927   405.399515          8.162060     1.032600
min      18.000000     0.000000   102.000000          1.000000     1.000000
25%      30.000000     0.000000   459.500000          2.000000     2.000000
50%      36.000000     0.000000   798.500000          7.000000     3.000000
75%      43.000000     0.000000  1157.000000         14.000000     4.000000
max      60.000000     1.000000  1499.000000         29.000000     5.000000

       EmployeeCount  EmployeeNumber  EnvironmentSatisfaction   HourlyRate  \
count         1318.0     1318.000000              1318.000000  1318.000000
mean             1.0     1024.622155                 2.724583    65.786798
std              0.0      603.680454                 1.094274    20.496071
min              1.0        1.000000                 1.000000    30.000000
25%              1.0      487.250000                 2.000000    48.000000
50%              1.0     1023.500000                 3.000000    66.000000
75%              1.0     1554.750000                 4.000000    84.000000
max              1.0     2068.000000                 4.000000   100.000000

       JobInvolvement          ...           RelationshipSatisfaction  \
count     1318.000000          ...                        1318.000000
mean         2.722307          ...                           2.710167
std          0.715574          ...                           1.079696
min          1.000000          ...                           1.000000
25%          2.000000          ...                           2.000000
50%          3.000000          ...                           3.000000
75%          3.000000          ...                           4.000000
max          4.000000          ...                           4.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         1318.0       1318.000000        1318.000000
mean            80.0          0.794385          11.396813
std              0.0          0.847202           7.906797
min             80.0          0.000000           0.000000
25%             80.0          0.000000           6.000000
50%             80.0          1.000000          10.000000
75%             80.0          1.000000          15.000000
max             80.0          3.000000          40.000000

       TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
count            1318.000000      1318.000000     1318.000000
mean                2.786039         2.768589        7.044006
std                 1.292952         0.710278        6.230174
min                 0.000000         1.000000        0.000000
25%                 2.000000         2.000000        3.000000
50%                 3.000000         3.000000        5.000000
75%                 3.000000         3.000000       10.000000
max                 6.000000         4.000000       40.000000

       YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count         1318.000000              1318.000000           1318.000000
mean             4.209408                 2.199545              4.129742
std              3.633578                 3.271157              3.591817
min              0.000000                 0.000000              0.000000
25%              2.000000                 0.000000              2.000000
50%              3.000000                 1.000000              3.000000
75%              7.000000                 3.000000              7.000000
max             18.000000                15.000000             17.000000

[8 rows x 29 columns]

## List remote AML compute targets available

In [7]:
from azureml.core.compute import AmlCompute
from azureml.core.compute import ComputeTarget

ComputeTarget.list(ws)

[AmlCompute(workspace=Workspace.create(name='cesardl-automl-northcentralus-ws', subscription_id='102a16c3-37d3-48a8-9237-4c9b1e8e80e0', resource_group='automlpmdemo'), name=cesardl-cpu-clus, id=/subscriptions/102a16c3-37d3-48a8-9237-4c9b1e8e80e0/resourceGroups/automlpmdemo/providers/Microsoft.MachineLearningServices/workspaces/cesardl-automl-northcentralus-ws/computes/cesardl-cpu-clus, type=AmlCompute, provisioning_state=Succeeded, location=northcentralus, tags=None),
 AmlCompute(workspace=Workspace.create(name='cesardl-automl-northcentralus-ws', subscription_id='102a16c3-37d3-48a8-9237-4c9b1e8e80e0', resource_group='automlpmdemo'), name=cesardl-gpu-clus, id=/subscriptions/102a16c3-37d3-48a8-9237-4c9b1e8e80e0/resourceGroups/automlpmdemo/providers/Microsoft.MachineLearningServices/workspaces/cesardl-automl-northcentralus-ws/computes/cesardl-gpu-clus, type=AmlCompute, provisioning_state=Succeeded, location=northcentralus, tags=None)]

## Connect to Remote AML Compute (Existing AML cluster)

In [12]:
# Define remote compute target to use
# Further docs on Remote Compute Target: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-remote
compute_target_name = 'cesardl-cpu-clus'
# Get existing compute target
aml_remote_compute = ComputeTarget(ws, compute_target_name)

## List and select primary metric to drive the AutoML classification problem

In [13]:
from azureml.train import automl

# List of possible primary metrics is here:
# https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#primary-metric
    
# Get a list of valid metrics for your given task
automl.utilities.get_primary_metrics('classification')

# I'll use 'accuracy' as primary metric (Closer to 1.00 is better)

['precision_score_weighted',
 'AUC_weighted',
 'accuracy',
 'norm_macro_recall',
 'average_precision_score_weighted']

## Define AutoML Experiment settings (With AML Remote Compute)

In [15]:
import logging

# Explanation of Settings: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-auto-train#configure-your-experiment-settings

# AutoMLConfig info on: 
# https://docs.microsoft.com/en-us/python/api/azureml-train-automl-client/azureml.train.automl.automlconfig.automlconfig

# You can provide additional settings as a **kwargs parameter for the AutoMLConfig object
# automl_settings = {
#     "whitelist_models": 'XGBoostClassifier'
# }

from azureml.train.automl import AutoMLConfig

automl_config = AutoMLConfig(compute_target=aml_remote_compute,
                             task='classification',
                             primary_metric='accuracy',
                             # experiment_timeout_minutes= 20,                            
                             training_data=train_dataset,
                             label_column_name="Attrition",
                             # X=x_train.values,             # X parameter is deprecated 
                             # y=y_train.values.flatten(),   # y parameter is deprecated 
                             n_cross_validations= 5,
                             # blacklist_models='XGBoostClassifier', 
                             # iteration_timeout_minutes= 5,                                                    
                             enable_early_stopping= True,
                             featurization= 'auto',
                             debug_log='automated_ml_errors.log',
                             verbosity= logging.INFO,
                             # **automl_settings
                             )

# WARNING: If using X and y parameters (deprecated) you get the following warning
# WARNING - The AutoMLConfig inputs you have specified will soon be deprecated. Please use the AutoMLConfig shown in our documentation: https://aka.ms/AutoMLConfig

## Run Experiment (on AML Remote Compute) with multiple child runs under the covers

In [ ]:
from azureml.core import Experiment
from datetime import datetime

now = datetime.now()
time_string = now.strftime("%m-%d-%Y-%H")
#time_string = now.strftime("%m-%d-%Y-%H-%M")
print(time_string)
experiment_name = "classif-automl-remote-{0}".format(time_string)
print(experiment_name)

experiment = Experiment(workspace=ws, 
                        name=experiment_name)

run = experiment.submit(automl_config, show_output=True)

# (CDLTLL) Why is 'DATA GUARDRAILS SUMMARY' not shown when training in remote AML Compute???

01-12-2020-00
classif-automl-remote-01-12-2020-00
Running on remote compute: cesardl-cpu-clus
Parent Run ID: AutoML_fda948d2-ad44-42b0-b8c7-7e3aaf0f8f8b

Current status: FeaturesGeneration. Generating features for the dataset.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   MaxAbsScaler SGD                               0:01:41       0.8384    0.8384
         1   MaxAbsScaler SGD                               0:01:49       0.7747    0.8384
         2   MaxAbsScaler ExtremeRandomTrees                0:01:38       0.7276    0.8384
         3   MaxAbsScaler SGD                               0:01:40       0.8627    0.8627
         4   MaxAbsScaler RandomForest                      0:01:44       0.7967    0.8627
         5   MaxAbsScaler SGD                               0:01:43       0.8589    0.8627
         6   MaxAbsScaler RandomForest                      0:01:45       0.7254    0.8627
         7   StandardScalerWrapper RandomForest             0:01:38       0.7261    0.8627
         8   MaxAbsScaler RandomForest                      0:01:52       0.7474    0.8627
         9   MaxAbsScaler ExtremeRandomTrees                0:01:42       0.8377    0.8627
        10   MaxAbsScaler BernoulliNaiveBayes               0:01:50       0.7610    0.8627
        11   StandardScalerWrapper BernoulliNaiveBayes      0:01:41       0.7003    0.8627
        12   MaxAbsScaler BernoulliNaiveBayes               0:01:41       0.7466    0.8627
        13   MaxAbsScaler RandomForest                      0:01:39       0.7095    0.8627
        14   MaxAbsScaler RandomForest                      0:01:41       0.6882    0.8627
        15   MaxAbsScaler SGD                               0:01:41       0.8551    0.8627
        16   MaxAbsScaler ExtremeRandomTrees                0:01:45       0.8468    0.8627
        17   MaxAbsScaler RandomForest                      0:03:05       0.7140    0.8627
        18   StandardScalerWrapper ExtremeRandomTrees       0:01:35       0.7201    0.8627
        19   MaxAbsScaler LightGBM                          0:01:42       0.8672    0.8672
        20   StandardScalerWrapper LightGBM                 0:01:38       0.8377    0.8672
        21   StandardScalerWrapper ExtremeRandomTrees       0:01:42       0.8377    0.8672
        22   MaxAbsScaler LightGBM                          0:01:39       0.8566    0.8672
        23   MaxAbsScaler LightGBM                          0:01:41       0.8710    0.8710
        24   TruncatedSVDWrapper LinearSVM                  0:01:45       0.8377    0.8710

## Explore results with Widget

In [ ]:
# Explore the results of automatic training with a Jupyter widget: https://docs.microsoft.com/en-us/python/api/azureml-widgets/azureml.widgets?view=azure-ml-py
from azureml.widgets import RunDetails
RunDetails(run).show()

## Retrieve the 'Best Model'

In [ ]:
best_run, fitted_model = run.get_output()
print(best_run)
print(fitted_model)

## Make Predictions

### Extract X values (feature columns) from test dataset and convert to NumPi array for predicting

In [ ]:
import pandas as pd

#Remove Label/y column
if 'Attrition' in test_df.columns:
    y_test_df = test_df.pop('Attrition')

x_test_df = test_df

### Make the actual Predictions

In [ ]:
# Try the best model
y_predictions = fitted_model.predict(x_test_df)

print('10 predictions: ')
print(y_predictions[:10])

In [ ]:
y_predictions.shape

### Calculate the Accuracy with Test Dataset (Not used for training)

In [ ]:
from sklearn.metrics import accuracy_score

print('Accuracy:')
accuracy_score(y_test_df, y_predictions)